tools/windows/xsde-3.2.0-i686-windows/tests/cxx/hybrid/iterator/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="fix">
    <sequence>
      <element name="a" type="int"/>
    </sequence>
  </complexType>

  <complexType name="var">
    <sequence>
      <element name="a" type="string"/>
      <element name="b" type="int" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="type">
    <sequence>
      <element name="f" type="t:fix" maxOccurs="unbounded"/>
      <element name="v" type="t:var" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

</schema>
