tools/windows/xsde-3.2.0-i686-windows/tests/cxx/hybrid/iso8859-1/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="strenum">
    <restriction base="string">
      <enumeration value="abc"/>
      <enumeration value="a&#xE2;c"/>
      <enumeration value="&#xE2;&#xF2;bc"/>
    </restriction>
  </simpleType>

  <complexType name="type">
    <sequence>
      <element name="a" type="string" maxOccurs="unbounded"/>
      <element name="b" type="t:strenum" maxOccurs="unbounded"/>
      <element name="element_name_with_special_char_&#xE2;" type="string"/>
    </sequence>
    <attribute name="x" type="string"/>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
