tools/windows/xsde-3.2.0-i686-windows/tests/cxx/serializer/all/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="test-1">
    <all>
      <element name="a" type="int"/>
      <element name="b" type="int" minOccurs="0"/>
    </all>
  </complexType>

  <complexType name="test-2">
    <all minOccurs="0">
      <element name="a" type="int"/>
      <element name="b" type="int"/>
    </all>
  </complexType>

  <complexType name="root">
    <sequence>
      <element name="test-1" type="t:test-1" maxOccurs="unbounded"/>
      <element name="test-2" type="t:test-2" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:root"/>

</schema>
