tools/windows/xsde-3.2.0-i686-windows/tests/cxx/serializer/list/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="int-list">
    <list itemType="int"/>
  </simpleType>

  <complexType name="int-list-base">
    <simpleContent>
      <extension base="t:int-list">
        <attribute name="base" type="int" use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="root">
    <sequence>
      <element name="int-list" type="t:int-list" maxOccurs="unbounded"/>
      <element name="int-list-base" type="t:int-list-base" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:root"/>

</schema>
