tools/windows/xsde-3.2.0-i686-windows/tests/cxx/serializer/validation/element/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="test-1">
    <sequence>
      <element name="a" type="int" minOccurs="0" maxOccurs="5"/>
      <element name="b" type="int" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="root">
    <sequence>
      <element name="test-1" type="t:test-1"/>
    </sequence>
  </complexType>

  <element name="root" type="t:root"/>

</schema>
