tools/windows/xsde-3.2.0-i686-windows/tests/cxx/hybrid/polymorphism/multischema/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="base">
    <sequence>
      <element name="a" type="string"/>
    </sequence>
  </complexType>

  <complexType name="foo">
    <complexContent>
      <extension base="t:base">
        <sequence>
          <element name="b" type="int"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="type">
    <sequence>
      <element name="x" type="t:base" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
