tools/windows/xsde-3.2.0-i686-windows/tests/cxx/hybrid/polymorphism/multischema/type.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <include schemaLocation="test.xsd"/>

  <complexType name="bar">
    <complexContent>
      <extension base="t:base">
        <sequence>
          <element name="b" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="baz">
    <complexContent>
      <extension base="t:foo">
        <sequence>
          <element name="c" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

</schema>
